NODE_ENV=developtment
APP_URL=http://localhost:3333

#Auth
APP_SECRET=00a7c4ceb7f4472243712abcf1e2a97d

#Database
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

#Mongo
MONGO_URL=

#Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

#Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

#Sentry
SENTRY_DSN=
