Olá <strong>{{ provider }}</strong>,

<p>Houve um cancelamento de horário.</p>

<p>
    Cliente: <strong>{{ user }}</strong>
    <br />
    Data/hora: <strong>{{ date }}</strong>

    <br /><br />

    <small>
        O horário está disponível para agendamentos.
    </small>
</p>